################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DependencyInjectionProj/bin
/DependencyInjectionProj/obj/Debug/DependencyInjectionProj.csproj.FileListAbsolute.txt
/DependencyInjectionProj/obj/Debug/DependencyInjectionProj.csprojResolveAssemblyReference.cache
/DependencyInjectionProj/obj/Debug/DependencyInjectionProj.dll
/DependencyInjectionProj/obj/Debug/DependencyInjectionProj.pdb
